rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /expenses/receipts/{fileName} {
      function isStaff() {
        return request.auth != null &&
          request.auth.token.get('role', 'none') in ['admin', 'manager', 'sales_rep', 'warehouse'];
      }
      allow read, write: if isStaff();
    }
  }
}